.DS_Store
.tmp
tmp
.idea
*.lock
*.swp
*.swo
node_modules
bower_components
.nyc_output
dist
gateway/*-build
*CMakeLists.txt.user
**/npm-debug.log
thumbs.db
.DS_Store
.vscode
__pycache__
influxdb.conf
meta.db
wal
.metadata
*.orig
package-lock.json
